.env
dev/
public/js/cloudinary-api.js
wrangler.toml
node_modules/
.roo/
.cursor/
.wrangler/
docs/CHAT.md
docs/DEPLOYMENT.md
docs/DOCS_README.md
docs/POLLIINATIONS.md
docs/PROMPTS.md
docs/README-frontend.md
docs/RESEARCH_TEST.md
docs/RESEARCH_TOOL_PLAN.md
docs/SCRAPE_TOOLS.md
docs/SITE_IMPROVEMENTS.md
docs/TRANSFORMATIONS.md
docs/WEBSPEECH.md
scraper-functional.4-2-15.120am.tar.gz
test_scraper-functional-4-2-25.1254am.tar.gz
